# IDE
.idea/

# Generated
src/proto/

# Build related
cmake-build-debug/
build/

# Packaging
aur/
debian-examples/

node_modules/

# Other
cmake/FindDBusCPP.cmake
snapcraft.yaml
.clang-format-ignore
bugreport.sh
record.sh
replay.sh
